<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">

  </head>
  <body>
    <div class="container">

        <% if(success !== null){ %>
          <div class="alert alert-success" role="alert">
              <strong><%= added %>$</strong>  <%= success %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <% } %>

        <% if(balance !== null){ %>
          <h1 id='Balance'>Balance: <%= balance %></h1>
        <% } %>

      <fieldset>
        <h4>Take Balance</h4>
        <form action="/take" method="post">
          <input name="balance_to_take" type="text" class="ghost-input" placeholder="Balance to take" required>
          <input type="submit" class="ghost-button" value="Take From Balance">
        </form>

        <h4>Add Balance</h4>
        <form action="/add" method="post">
          <input id = "balanceToAdd" name="balance_to_add" type="text" class="ghost-input" placeholder="Balance to add" required>
          <input id = "addButton" type="submit" class="ghost-button" value="Add to Balance">
        </form>
      </fieldset>
    </div>
  </body>
</html>