<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <% if(balance !== null){ %>
          <h1>Balance: <%= balance %></h1>
        <% } %>

      <fieldset>
        <h4>Add Balance</h4>
        <form action="/take" method="post">
          <input name="balance-amount1" type="text" class="ghost-input" placeholder="Balance to take" required>
          <input type="submit" class="ghost-button" value="Take From Balance">
        </form>

        <h4>Take  Balance</h4>
        <form action="/add" method="post">
          <input name="balance-amount2" type="text" class="ghost-input" placeholder="Balance to take" required>
          <input type="submit" class="ghost-button" value="Add to Balance">
        </form>
      </fieldset>
    </div>
  </body>
</html>